.file-section-container {
    display: flex; /* Horizontal layout for child elements */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    width: 100%; /* Ensure the container takes up full width */
}

.file-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 20px;
    border: 2px dashed #aaa;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer; /* Change cursor to indicate the user can click */
}

    .file-picker:hover {
        border-color: #4CAF50; /* Change border color when hovered */
    }

.file-input-box {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

.select-file-label {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-right: 10px;
    color: #333;
}

.selected-file-label {
    margin: 0;
}

.enumerate-button {
    background-color: #4682B4;
    color: #fff; /* White text for contrast */
    border: 2px solid #4682B4; /* Match initial background color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s; /* Smooth hover effect */
}

    .enumerate-button:hover {
        background-color: #1E90FF;
        border-color: #5A9BD4;
    }

    .enumerate-button:disabled {
        background-color: #d3d3d3; /* Light gray for disabled state */
        border: 2px solid #d3d3d3;
        cursor: not-allowed; /* Change cursor to indicate non-clickable */
        color: #7f7f7f; /* Dim text color */
    }

input[type="file"] {
    display: none; /* Hide the default input */
}

.content-container {
    padding: 2rem;
}

.assembly-section {
    display: flex;
    flex-Direction: column;
    flex-Grow: 1;
}

.assembly-summary-section {
    /*max-height: 10vh;*/
}

.assembly-detail-section {
    display: flex;
    flex-Direction: row;
    flex-Grow: 1;
    overflow: hidden;
    /* This will need some adjustment (to vh value) once other elements have been completed - title bar will be made smaller and summary section a bit bigger */
    max-height: calc(70vh - 1rem);
}

.tree-container {
    border-Right: solid;
    flex-Shrink: 0;
    width: auto;
    overflow: auto;
}

.tree-content {
    margin: 0px 20px;
}

.tree-indentation {
    margin-left: 20px;
}

.tree-item {
    text-align: left;
    cursor: pointer;
}

    .tree-item:hover {
        color: blue;
    }

.tree-header {
    font-weight: bold;
    text-align: left;
}

.expandable-item {
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.expandable-item-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    font-size: 18px;
}

    .expandable-item-box:hover {
        color: blue;
    }

.tree-list {
    list-Style: none;
    margin: 0;
    padding: 0;
}

.box-section {
    box-Shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    border-Radius: 4px; 
    margin: 5px;
}

.element-list,
.sub-element-list {
    list-Style: none;
    padding: 0;
}

.element-list {
    margin: 5px;
}

.arguments-list {
    display: grid;
    grid-template-columns: 0fr 1fr; /* Two columns, one for the label, one for the arguments */
    gap: 10px; /* Adjust the space between columns */
}

.reflected-element {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: steelblue;
    display: flex;
    flex-direction: column;
    flex-grow: inherit;
    overflow: hidden;
    text-align: left;
    margin-bottom: 3px;
    padding: 0px 3px;
}

.reflected-element-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 2px 0px;
}

.reflected-element-detail {
    border-top: solid;
    border-block-color: steelblue;
    border-width: 1px;
}

@media (max-width: 600px) {
    .content-container {
        padding: 0.75rem;
    }

    .tree-content {
        margin: 0px 5px;
    }

    .tree-indentation {
        margin-left: 5px;
    }
}

@media (max-width: 768px) {
    .content-container {
        padding: 1rem;
    }

    .tree-content {
        margin: 0px 10px;
    }

    .tree-indentation {
        margin-left: 10px;
    }
}

