#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
}

.parent-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0;
    height: 100vh;
}