#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

html, body {
    margin: 0;
    padding: 0;
}

.parent-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-sticky-container {
    position: sticky;
    top: 0;
    z-Index: 1000;
    background-Color: white;
}